.container {
  border: 2px solid maroon;
  padding: 15px;
  border-radius: 10px;
  background-color: green;
  margin: 30px 30px;
  color: black;
  width: 300px;
  /* height: 300px; */
  /* min-height: 400px; */
  max-height: 400px;
  /* overflow: scroll; */
  /* overflow: auto; */
  /* overflow-x: scroll; */
  overflow-y: scroll;
}
